<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="KAFKA_TEST" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<!-- Application Loggers -->
	<logger name="com.handson">
		<level value="TRACE" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache.activemq">
		<level value="DEBUG" />
	</logger>

	<logger name="org.apache">
		<level value="ERROR" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="KAFKA_TEST" />
	</root>

</log4j:configuration>