<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>GetVacancy</servlet-name>
        <servlet-class>GetVacancy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVacancyAll</servlet-name>
        <servlet-class>GetVacancyAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPro</servlet-name>
        <servlet-class>AdminPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegiPro</servlet-name>
        <servlet-class>RegiPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegiProAll</servlet-name>
        <servlet-class>RegiProAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusPro</servlet-name>
        <servlet-class>StatusPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Error</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeStamp</servlet-name>
        <servlet-class>TimeStamp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetVacancy</servlet-name>
        <url-pattern>/GetVacancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVacancyAll</servlet-name>
        <url-pattern>/GetVacancyAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPro</servlet-name>
        <url-pattern>/AdminPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegiPro</servlet-name>
        <url-pattern>/RegiPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegiProAll</servlet-name>
        <url-pattern>/RegiProAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusPro</servlet-name>
        <url-pattern>/StatusPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeStamp</servlet-name>
        <url-pattern>/TimeStamp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
